influxdb-client == 1.50.0
websockets == 17.1
astral == 3.2
requests == 2.34.2
pytz == 2026.2
websocket-client == 1.9.2
cryptography == 50.0.1
uvicorn == 0.53.0
fastapi == 0.141.1
# HomeConnect
pycryptodome == 3.23.0